
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@600&display=swap');


.scroll-container {

    width: 100%;
    overflow: hidden;

    white-space: nowrap;

    background: rgb(55, 112, 55);

    padding: 1rem 0;

}

.scroll-text {
    display: inline-block;

    font-family: 'Poppins', sans-serif;

    animation: scroll-left 15s linear infinite;

    font-size: 3rem;
    font-weight: 600;
    color: transparent;
    -webkit-text-stroke: 1px #7b7b7b;
    letter-spacing: 2px;
}

.scroll-text span {
    /* Spacing between text segments/repetitions */
    padding-right: 2rem;
}

.scroll-text .star {
    color: #6a8d38;
    -webkit-text-stroke: 0;
    padding-right: 2rem;
}

@keyframes scroll-left {
    0% {
     transform: translateX(0%);
    }

    100% {

        transform: translateX(-50%);
    }
}